
<!-- <div>
  La suma de 2 + 2 es {{2+2}}
</div> -->
<app-menu></app-menu>

<div class="contenedor">

  <router-outlet></router-outlet>
  <!-- caso de ciclos de vida componentes
  <div> -->
      <!-- el evento input permite ejecutar una pieza de codigo cada vez que el usuario escriba en el textbox-->
      <!-- <input type="text" (input)="title = $event.target.value" />
  </div>
  <div>
    <input type="checkbox" (change)="ocultar = !ocultar" />Ocultar
  </div> -->


  <!-- <app-ciclo-de-vida [titulo]="'monica'"></app-ciclo-de-vida> -->
  <!-- <app-ciclo-de-vida *ngIf="ocultar" [titulo]="title"></app-ciclo-de-vida> -->

  <!-- <app-rating (rated)="manejarRated($event)" ></app-rating> -->

  
 
  
  <!-- ejemplo de vairabe de referencia de plantillas-->
<!-- <input type="file" style="display: none;" #cargador/>
<button (click)="cargador.click()">Cargar archivo</button> -->


</div>



